extends layout

block content
  h1= title
  p Welcome to #{title}

  form(method="post", action="/create")
   input(type="text", placeholder="country 1", name="country1")
   input(type="text", placeholder="country 2", name="country2")
   input(type="submit", value="create")

  ul
   each game, i in games
    li
     a(href="increase/"+game._id+"/"+game.score1+"/score1") plus
     a(href="decrease/"+game._id+"/"+game.score1+"/score1") min
     p= game.country1 + " " + game.score1 + " - " + game.score2 + " " + game.country2
     hr
     p= game.shots1 + " Total shots " + game.shots2
     p= game.fouls1 + " Fouls " + game.fouls2
     hr
     ul
      - for (var n=0; n < game.feeds.length; n++)
       li= game.feeds[n].feed

     form(method="post", action="feed/"+game._id)
      textarea(placeholder="00' - New feed", name="feed")
      input(type="submit", value="Nieuwe feed!")
     a(href="/delete/"+game._id) Delete