extends layout

block content
  header
   h1= title

  form#create.inline(method="post", action="/create")
   h2 Create new match
   input#country1(type="text", placeholder="country 1", name="country1")
   input#country2(type="text", placeholder="country 2", name="country2")
   input.button(type="button", value="create", onClick="newMatch()")

  ul.inline
   each game, i in games
    li
     div.inline
      a.up(href="increase/"+game._id+"/"+game.score1+"/score1") +
      a.down(href="decrease/"+game._id+"/"+game.score1+"/score1") -
     div.inline
      p= game.country1 + " " + game.score1 + " - " + game.score2 + " " + game.country2
     div.inline
      a.up(href="increase/"+game._id+"/"+game.score2+"/score2") +
      a.down(href="decrease/"+game._id+"/"+game.score2+"/score2") -
     hr
     div.inline
      a.up(href="increase/"+game._id+"/"+game.shots1+"/shots1") +
      a.down(href="decrease/"+game._id+"/"+game.shots1+"/shots1") -
     div.inline
      p= game.shots1 + " Total shots " + game.shots2
     div.inline
      a.up(href="increase/"+game._id+"/"+game.shots2+"/shots2") +
      a.down(href="decrease/"+game._id+"/"+game.shots2+"/shots2") -
     br
     div.inline
      a.up(href="increase/"+game._id+"/"+game.fouls1+"/fouls1") +
      a.down(href="decrease/"+game._id+"/"+game.fouls1+"/fouls1") -
     div.inline
      p= game.fouls1 + " Fouls " + game.fouls2
     div.inline
      a.up(href="increase/"+game._id+"/"+game.fouls2+"/fouls2") +
      a.down(href="decrease/"+game._id+"/"+game.fouls2+"/fouls2") -
     hr
     a.delete.inline(href="/delete/"+game._id) Delete
     p REALTIME UPDATES
     ul.feeds
      - for (var n=0; n < game.feeds.length; n++)
       li= game.feeds[n].feed

     form#updates(method="post", action="feed/"+game._id)
      textarea#feed(placeholder="00' - New feed", name="feed")
      input.button.inline(type="button", value="Nieuwe feed!", onClick="newFeed()")