extends layout

block content
  header
   h1 Welcome to #{title}

  ul(style="width:100%;")
   each game, i in games
    li
     p= game.country1 + " " + game.score1 + " - " + game.score2 + " " + game.country2
     hr
     p= game.shots1 + " Total shots " + game.shots2
     p= game.fouls1 + " Fouls " + game.fouls2
     hr
     p REALTIME UPDATES
     ul.feeds
      - for (var n=0; n < game.feeds.length; n++)
       li= game.feeds[n].feed